<div class="main">
  <h1>Make Your Booking</h1>

  <form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)" class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input  [rangePicker]="picker">
        <input matStartDate name="start" id="start" placeholder="Start date" ngModel>
        <input matEndDate name="end" id="end" placeholder="End date" ngModel>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
    </mat-form-field>
<!--
    <p>Selected range: {{range.value | json}}</p> -->

    <p>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </p>

  </form>
</div>
